.App {
  position: relative;
}

.App > .treemap {
  position: relative;
  background-color: #dcdcdc;
}
.App > .treemap > .node {
  position: absolute;
  background-color: rgb(105, 179, 162);
  border: 1px solid black;
}